

/* clearfix
/* --------------------------------------------- */


%clear
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both

.clearfix-block
	clear: both
	overflow: hidden
	margin: 0
	padding: 0
	font-size: 0
	line-height: 0

.clearfix 
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both


/* clearfix
/* ---------------------------------------END--- */


/* centered
/* --------------------------------------------- */

.centered
	margin: auto
	width: $page_w
	+box-sizing(border-box)

/* centered
/* ---------------------------------------END--- */


/* page
/* --------------------------------------------- */

.page

	position: relative
	min-height: 100%
	width: 100%
	min-width: $page_w_min

	&__header
		//background: #adf785

	&__header-in
		position: relative
		height: 173px

	&__body
		

	&__footer
		position: relative
		background: #f1acf2
	
/* page
/* ---------------------------------------END--- */


/* logo
/* --------------------------------------------- */

.logo
	display: block
	position: absolute
	width: 387px
	height: 73px
	border-bottom: none
	top: 48px
	left: 50%
	margin-left: - (387px / 2)

	&__img
		display: block

	
/* logo
/* ---------------------------------------END--- */


/* table
/* --------------------------------------------- */

.table 
	margin-bottom: 20px
	width: 100%
	border: 2px solid #e9ecee

	&__h td,
	& th 
		font-size: 13px
		font-weight: bold
		color: #888
		background: #e9ecee

	& th,
	& td
		padding: 10px 14px
		border-bottom: 1px solid #e9ecee

	&__line
		background: #f6f6f6

	
/* table
/* ---------------------------------------END--- */


/* menu
/* --------------------------------------------- */

.menu
	background: url("../img/bg.jpg") center 0 no-repeat
	color: #fff
	padding: 0 0 24px 0

	&__body
		background: url("../img/menu.png") 0 0 repeat
		padding: 13px 40px 40px 40px
		position: relative

		&:before
			content: ''
			display: block
			position: absolute
			top: 10px
			right: 10px
			bottom: 10px
			left: 10px
			border: 1px solid #fff
			+opacity(.3)

		&:after
			content: ''
			display: block
			position: absolute
			top: 1px
			left: 50px
			+sprite-icon("kitchenware")

/* menu
/* ---------------------------------------END--- */


/* slogan
/* --------------------------------------------- */

.slogan
	position: absolute
	top: 60px
	left: 10px
	@extend %font-2
	+rem(font-size, 22px)
	line-height: .7

	&__big
		+rem(font-size, 54px)

	&__small
		margin-left: 80px

/* slogan
/* ---------------------------------------END--- */


/* phone
/* --------------------------------------------- */

.phone
	position: absolute
	top: 68px
	right: 10px
	+rem(font-size, 26px)
	font-weight: bold
	letter-spacing: 1px

	&__code
		+rem(font-size, 17px)
		display: inline-block

	&:before
		content: ''
		display: inline-block
		+sprite-icon("phone")
		top: 18px
		position: relative
		margin-right: 2px
		

/* phone
/* ---------------------------------------END--- */


/* menu-table
/* --------------------------------------------- */

.menu-table
	width: 100%

	td,th
		padding-right: 13px
		text-align: left

	&__h
		@extend %font-2
		color: #F0D981
		+rem(font-size, 22px)

		td
			padding-top: 5px
			padding-bottom: 5px

	&__img-cutting-board
		position: relative
		background: red

		&:before
			content: ''
			display: inline-block
			top: -5px
			left: 376px
			position: absolute
			+sprite-icon("cutting-board")

	&__img-pan
		position: relative
		background: red

		&:before
			content: ''
			display: inline-block
			top: -5px
			left: 486px
			position: absolute
			+sprite-icon("pan")

	&__img-dipper
		position: relative
		background: red

		&:before
			content: ''
			display: inline-block
			top: -5px
			left: 589px
			position: absolute
			+sprite-icon("dipper")

	&__separator
		position: relative
		padding-bottom: 5px
		&:before,
		&:after
			position: absolute
			content: ''
			top: 50%
			position: absolute
			margin-top: - image-height( sprite-path("spot") )/2 - 4px
			+sprite-icon("spot")
		&:before
			left: 0
		&:after
			right: 0

	&__separator-line
		height: 1px
		background: #fff
		+opacity(.2)

	& &__legend
		width: 1px
		padding-left: 0
		padding-right: 0
		color: #fff

	&__legend-body
		width: $menu-legend-w

	&__legend-h
		@extend %font-2
		+rem(font-size, 37px)

		&_size_sm
			+rem(font-size, 30px)

	&__line
		font-style: italic

	&__number
		font-family: Georgia, $font_main
		+rem(font-size, 20px)

		&_tp_price
			color: #AE584E

/* menu-table
/* ---------------------------------------END--- */


/* menu-h
/* --------------------------------------------- */

.menu-h
	margin-left: $menu-legend-w

/* menu-h
/* ---------------------------------------END--- */