

/* clearfix
/* --------------------------------------------- */


%clear
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both

.clearfix-block
	clear: both
	overflow: hidden
	margin: 0
	padding: 0
	font-size: 0
	line-height: 0

.clearfix 
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both


/* clearfix
/* ---------------------------------------END--- */


/* centered
/* --------------------------------------------- */

.centered
	margin: auto
	width: $page_w
	+box-sizing(border-box)

/* centered
/* ---------------------------------------END--- */


/* page
/* --------------------------------------------- */

.page

	position: relative
	min-height: 100%
	width: 100%
	min-width: $page_w_min

	&__header
		//background: #adf785

	&__header-in
		position: relative
		height: 173px

	&__body
		

	&__footer
		position: relative
		//background: #f1acf2
		padding: 23px 0

		a
			+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)
	
/* page
/* ---------------------------------------END--- */


/* logo
/* --------------------------------------------- */

.logo
	display: block
	position: absolute
	width: 387px
	height: 73px
	border-bottom: none
	top: 50px
	left: 50%
	margin-left: -167.5px

	&__img
		display: block

	
/* logo
/* ---------------------------------------END--- */


/* table
/* --------------------------------------------- */

.table 
	margin-bottom: 20px
	width: 100%
	border: 2px solid #e9ecee

	&__h td,
	& th 
		font-size: 13px
		font-weight: bold
		color: #888
		background: #e9ecee

	& th,
	& td
		padding: 10px 14px
		border-bottom: 1px solid #e9ecee

	&__line
		background: #f6f6f6

	
/* table
/* ---------------------------------------END--- */


/* menu
/* --------------------------------------------- */

.menu
	background: url("../img/bg.jpg") center 0 repeat-y
	color: #fff
	padding: 0 0 24px 0

	&__body
		background: url("../img/menu.png") 0 0 repeat
		padding: 13px 40px 40px 40px
		position: relative

		&:before
			content: ''
			display: block
			position: absolute
			top: 10px
			right: 10px
			bottom: 10px
			left: 10px
			border: 1px solid #fff
			+opacity(.3)

		&:after
			content: ''
			display: block
			position: absolute
			top: 1px
			left: 50px
			+sprite-icon("kitchenware")

/* menu
/* ---------------------------------------END--- */


/* slogan
/* --------------------------------------------- */

.slogan
	position: absolute
	top: 64px
	left: 2px
	@extend %font-2
	+rem(font-size, 22px)
	line-height: .7

	&__big
		+rem(font-size, 54px)

	&__small
		margin-left: 80px

/* slogan
/* ---------------------------------------END--- */


/* phone
/* --------------------------------------------- */

.phone
	position: absolute
	top: 56px
	right: 10px
	+rem(font-size, 26px)
	font-weight: bold
	letter-spacing: 1px

	&__code
		+rem(font-size, 17px)
		display: inline-block

	&:before
		content: ''
		display: inline-block
		+sprite-icon("phone")
		top: 18px
		position: relative
		margin-right: 2px
		

/* phone
/* ---------------------------------------END--- */


/* menu-table
/* --------------------------------------------- */

.menu-table
	width: 100%

	td,th
		padding-right: 13px
		padding-top: 1px
		padding-bottom: 1px

	&__h
		@extend %font-2
		color: #F0D981
		+rem(font-size, 22px)

		td
			padding-top: 8px
			//padding-bottom: 8px

	&__img-cutting-board
		position: relative
		//background: red

		&:before
			content: ''
			display: inline-block
			top: -5px
			left: 343px
			position: absolute
			+sprite-icon("cutting-board")

	&__img-pan
		position: relative
		//background: red

		&:before
			content: ''
			display: inline-block
			top: -5px
			left: 469px
			position: absolute
			+sprite-icon("pan")

	&__img-dipper
		position: relative
		background: red

		&:before
			content: ''
			display: inline-block
			top: -5px
			left: 574px
			position: absolute
			+sprite-icon("dipper")

	&__separator
		position: relative
		padding-bottom: 6px
		padding-top: 6px

		&:before,
		&:after
			position: absolute
			content: ''
			top: 50%
			position: absolute
			margin-top: - image-height( sprite-path("spot") )/2 - 1px
			+sprite-icon("spot")

		&:before
			left: 0
		&:after
			right: 0

		&_tp_bottom
			padding-top: 10px
			padding-bottom: 23px

			&:before,
			&:after
				margin-top: - image-height( sprite-path("spot") )/2 - 8px

	&__separator-line
		height: 1px
		background: #fff
		+opacity(.2)

	& &__legend
		width: 1px
		padding-left: 0
		padding-right: 0
		color: #fff

	&__legend-body
		width: $menu-legend-w

	&__legend-h
		@extend %font-2
		+rem(font-size, 37px)
		line-height: 1.2

		&_size_sm
			+rem(font-size, 30px)

	&__line
		font-style: italic

	&__number
		font-family: Georgia, $font_main
		+rem(font-size, 20px)

		&_tp_price
			color: #AE584E

		&_tp_weight
			width: 104px

	&__name
		width: 468px
		font-style: italic

	&__right
		text-align: right

	&__center
		text-align: center
			
			

/* menu-table
/* ---------------------------------------END--- */


/* menu-h
/* --------------------------------------------- */

.menu-h
	margin-left: $menu-legend-w
	margin-bottom: 8px
	margin-top: 32px

/* menu-h
/* ---------------------------------------END--- */


/* txt-to-center
/* --------------------------------------------- */

.txt-to-center
	text-align: center

/* txt-to-center
/* ---------------------------------------END--- */


/* txt-to-right
/* --------------------------------------------- */

.txt-to-right
	text-align: right

/* txt-to-right
/* ---------------------------------------END--- */


/* color-2
/* --------------------------------------------- */

.color-2
	color: #AE584E

/* color-2
/* ---------------------------------------END--- */


/* separator
/* --------------------------------------------- */

.separator
	position: relative
	height: image-height( sprite-path("separator") )
	margin-bottom: 40px

	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 50%
		margin-left: - image-width( sprite-path("separator") )/2

		+sprite-icon("separator")

/* separator
/* ---------------------------------------END--- */


/* separator-h
/* --------------------------------------------- */

.separator-h
	margin-bottom: 17px


/* separator-h
/* ---------------------------------------END--- */


/* teasers
/* --------------------------------------------- */

.teasers
	margin-bottom: 30px
	@extend %font-2

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		float: left
		width: (100% / 3)
		text-align: center

	&__h
		+rem(font-size, 25px)
		color: #313131

	&__img
		display: inline-block
		margin-bottom: 18px

	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both

/* teasers
/* ---------------------------------------END--- */


/* decor-header
/* --------------------------------------------- */

.decor-header
	position: relative
	height: image-height( sprite-path("header") )
	line-height:  image-height( sprite-path("header") )
	text-align: center
	@extend %font-2
	+rem(font-size, 30px)
	margin-bottom: 33px

	&:before
		z-index: -1
		content: ''
		display: block
		position: absolute
		top: 0
		left: 50%
		margin-left: - image-width( sprite-path("header") )/2
		+sprite-icon("header")

/* decor-header
/* ---------------------------------------END--- */


/* table-cols
/* --------------------------------------------- */

.table-cols
	width: 100%
	display: table

	&__i
		display: table-cell
		vertical-align: top


/* table-cols
/* ---------------------------------------END--- */